<user-mapping>
    <authorize 
        username="your_username" 
        password="your_strong_password">
        <connection name="KDE Plasma Desktop">
            <protocol>rdp</protocol>
            <param name="hostname">host.docker.internal</param>
            <param name="port">3389</param>
            <param name="ignore-cert">true</param>
            <param name="resize-method">display-update</param>
            <param name="enable-audio">true</param>
            <param name="enable-printing">false</param>
            <param name="enable-drive">false</param>
        </connection>
    </authorize>
</user-mapping>
